.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background: var(--gray-500);
  min-height: 4.5rem;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.container p {
  width: 100%;
}

/* 
.container input {
  margin-right: 0.75rem;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid var(--blue);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

.container input::after:checked {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  position: absolute;
  transform: rotate(-45deg);
  width: 8px;
}

.container input:checked {
  background: var(--purple);
  border: 1px solid var(--purple);
} */
/* 
input[type="checkbox"] {
  background: green;
}

.container input {
  accent-color: red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--blue);
} */

.checkboxField {
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--blue);
  margin-right: 0.75rem;
  box-shadow: none;
  cursor: pointer;
}

.checkboxField svg {
  color: var(--gray-100);
}

.checked {
  background: var(--purpleDark);
  border: 2px solid var(--purpleDark);
}

.trashButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  color: var(--gray-300);
}

.trashButton:hover {
  color: var(--red-500);
}