.backgroundHeader {
  background: var(--gray-700);
  width: 100vw;
  height: 12.5rem;
}

.container {

  height: 100vh;
  background: linear-gradient(180deg, var(--gray-700) 12.5rem, var(--gray-600) 12.5rem);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;
  max-width: 46rem;
}

.wrapper>img {
  height: 3rem;
  margin: 4.5rem 0 5rem 0;
}